@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');

:root {
    --color-purple: rgb(135, 94, 245);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: auto;
    height: 100%;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
.links {
    text-align: center;
    margin-top: 0px;
}

.links a{
    color: white;
    font-size: 18px ;
    line-height: 28px;
    margin: 0px 16px;
    padding-bottom: 3px;
    text-decoration: none;
    
}
.links a:hover{
    color: var(--color-purple);
    transition: 200ms;
   
}

#wrapper{
    text-align: center;
    padding: 32px;
    
}

#wrapper img{
    border-radius: 8% 8% 8% 8%;
    border: 5px solid var(--color-purple);
    margin-bottom: 10px;
    height: 300px;
    margin-top: 10px;

}

#wrapper h1{
    margin-top: 35px;
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    color: rgb(135, 94, 245);
}

#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
    
}

#wrapper p{
    max-width: 500px;
    margin: -1px auto;
    font-size: 24px;
    line-height: 34px;
}


#wrapper p a {
    color: var(--color-purple);

}

#links-menu a{
    border-bottom: 1px solid var(--color-purple);
    

}

#links-footer a{
    border-bottom: 1px solid var(--color-purple);
    

}

.linksDeBaixo{
    text-align: center;
    margin-bottom: 10px;
}

.linksDeBaixo a{
    
    color: white;
    font-size: 18px ;
    line-height: 28px;
    margin: 0px 16px;
    padding-bottom: 2px;
    text-decoration: none;
}

.lista ul li{
    text-align: left;
    
}

.lista1 {

    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}